# Ryan Burger's Capstone Notebook

This is where my portion of the coding will be saved

In [2]:
#Import pandas and matplotlib
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
#Read in the file 
tmdb1 = pd.read_csv('Files/tmdb.movies.csv.gz')

In [4]:
#Show the first 5 rows of the dataset 
tmdb1.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [5]:
#Tells you if there are any missing values and there sum 
tmdb1.isnull().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [6]:
#Tells you basic information about the data set 
tmdb1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [7]:
#shows how many columns and rows there are 
tmdb1.shape

(26517, 10)

In [8]:
tmdb1.describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [25]:
#def plot_histogram(tmdb1, column, title, xlabel, ylabel):
 #   data = tmdb1['popularity']
  #  fig, ax = plt.subplots(figsize=(10,7))
   # ax.hist(data, bins = 50)
    #ax.set_title('Popularity')
    #ax.set_xlabel(xlabel)
    #ax.set_ylabel(ylabel)
    #plt.ylim(0,1000)
    #plt.xlim(0,40)
    
#plot_histogram(tmdb1, 'popularity', 'title', 'xlabel', 'popularity') 


#do a group by and group it by genre