# Most Used Writer and Directors in Top Studios based on Box Office Sales

In [21]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
#File Read-in
df_rt = pd.read_csv("Files/rt.movie_info.tsv.gz",sep="\t")
df_rt.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [22]:
#Checking for null values
df_rt.isnull().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [23]:
# #removing null values from Box office 
# office_revenue = df_rt[df_rt["box_office"].notnull()]
#removing unnecessary rows 
office_revenue = df_rt.drop(columns=['id', 'synopsis', 'rating', 'genre', 'dvd_date', 'theater_date', 'runtime'])
office_revenue.head()

,director,writer,currency,box_office,studio
0,William Friedkin,Ernest Tidyman,NaN,NaN,NaN
1,David Cronenberg,David Cronenberg|Don DeLillo,$,"600,000",Entertainment One
2,Allison Anders,Allison Anders,NaN,NaN,NaN
3,Barry Levinson,Paul Attanasio|Michael Crichton,NaN,NaN,NaN
4,Rodney Bennett,Giles Cooper,NaN,NaN,NaN

In [24]:
office_revenue.dropna(subset=['box_office'], inplace=True)
office_revenue.fillna(value='Unknown', inplace=True)
office_revenue.head()

,director,writer,currency,box_office,studio
1,David Cronenberg,David Cronenberg|Don DeLillo,$,"600,000",Entertainment One
6,Jake Kasdan,Mike White,$,"41,032,915",Paramount Pictures
7,Ray Lawrence,Raymond Carver|Beatrix Christian,$,"224,114",Sony Pictures Classics
8,Taylor Hackford,Mark Jacobson,$,"134,904",Unknown
15,George Hickenlooper,Norman Snider,$,"1,039,869",ATO Pictures

In [25]:
#Removing commas from box office and converting to int
office_revenue["box_office"] = office_revenue["box_office"].str.replace(",","")
office_revenue["box_office"] = office_revenue["box_office"].astype("int64")
#Converting studio, director and writer to string
office_revenue["studio"] = office_revenue["studio"].astype("string")
office_revenue["director"] = office_revenue["director"].astype("string")
office_revenue["writer"] = office_revenue["writer"].astype("string")
office_revenue.head()

,director,writer,currency,box_office,studio
1,David Cronenberg,David Cronenberg|Don DeLillo,$,600000,Entertainment One
6,Jake Kasdan,Mike White,$,41032915,Paramount Pictures
7,Ray Lawrence,Raymond Carver|Beatrix Christian,$,224114,Sony Pictures Classics
8,Taylor Hackford,Mark Jacobson,$,134904,Unknown
15,George Hickenlooper,Norman Snider,$,1039869,ATO Pictures

In [26]:
#Check data types
office_revenue.dtypes

director      string
writer        string
currency      object
box_office     int64
studio        string
dtype: object

In [27]:
#Checking Value Counts
office_revenue["studio"].value_counts()

Unknown                      35
Universal Pictures           27
Paramount Pictures           20
20th Century Fox             18
Sony Pictures                15
                             ..
Tribeca Film                  1
A24                           1
Paramount Classics            1
Wrekin Hill Entertainment     1
Universal                     1
Name: studio, Length: 117, dtype: Int64

In [27]:
# # Combine duplicated studios
# office_revenue["studio"]= office_revenue["studio"].replace("20th Century Fox Distribution","20th Century Fox")
# office_revenue["studio"]= office_revenue["studio"].replace("A24","A24 Films")
# office_revenue["studio"]= office_revenue["studio"].replace(["Buena Vista Distribution","Buena Vista Distribution Compa","Buena Vista Pictures"],"Buena Vista")
# office_revenue["studio"]= office_revenue["studio"].replace("Columbia Tristar Pictures","Columbia Pictures")
# office_revenue["studio"]= office_revenue["studio"].replace("Destination Film","Destination Films")
# office_revenue["studio"]= office_revenue["studio"].replace(["DreamWorks SKG","Dreamworks Pictures"],"DreamWorks")
# office_revenue["studio"]= office_revenue["studio"].replace("Fox Searchlight","Fox Searchlight Pictures")
# office_revenue["studio"]= office_revenue["studio"].replace(["Lionsgate Films","Lions Gate Releasing","Lions Gate Films Inc.","Lions Gate","Lions Gate Films","Lionsgate" ],"LionsGate")
# office_revenue["studio"]= office_revenue["studio"].replace(["Paramount","Paramount Classics","Paramount Studios","Paramount Vantage","Paramout","Paramout Pictures"],"Paramount Pictures")
# office_revenue["studio"]= office_revenue["studio"].replace(["Sony Classics","Sony Pictures Classics","Sony Pictures Entertainment","Sony Pictures Releasing"],"Sony Pictures")
# office_revenue["studio"]= office_revenue["studio"].replace("Summit Premiere","Summit Entertainment")
# office_revenue["studio"]= office_revenue["studio"].replace(["Universal","Universal Pictures","Universal Pictures Distributio","Universal Pictures International"],"Universal Studios")
# office_revenue["studio"]= office_revenue["studio"].replace(["WARNER BROTHERS PICTURES","WB","Warner Bros. Pictures"],"Warner Bros.")
# office_revenue["studio"]= office_revenue["studio"].replace(["The Weinstein Co.","The Weinstein Company","Weinstein Co."],"Weinstein Company")
# office_revenue["studio"]= office_revenue["studio"].replace("Newmarket Film Group","Newmarket Films")
# office_revenue["studio"]= office_revenue["studio"].replace("FilmDistrict","Film District")
# office_revenue["studio"]= office_revenue["studio"].replace("IFC First Take","IFC Films")

C:\Users\chrchristensen\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
C:\Users\chrchristensen\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [28]:
# Combine duplicated studios
office_revenue.replace("20th Century Fox Distribution","20th Century Fox", inplace=True)
# office_revenue.replace("A24","A24 Films", inplace=True)
# office_revenue.replace(["Buena Vista Distribution","Buena Vista Distribution Compa","Buena Vista Pictures"],"Buena Vista", inplace=True)
# office_revenue.replace("Columbia Tristar Pictures","Columbia Pictures", inplace=True)
# office_revenue.replace("Destination Film","Destination Films", inplace=True)
# office_revenue.replace(["DreamWorks SKG","Dreamworks Pictures"],"DreamWorks", inplace=True)
# office_revenue.replace("Fox Searchlight","Fox Searchlight Pictures", inplace=True)
# office_revenue.replace(["Lionsgate Films","Lions Gate Releasing","Lions Gate Films Inc.","Lions Gate","Lions Gate Films","Lionsgate" ],"LionsGate", inplace=True)
# office_revenue.replace(["Paramount","Paramount Classics","Paramount Studios","Paramount Vantage","Paramout","Paramout Pictures"],"Paramount Pictures", inplace=True)
# office_revenue.replace(["Sony Classics","Sony Pictures Classics","Sony Pictures Entertainment","Sony Pictures Releasing"],"Sony Pictures", inplace=True)
# office_revenue.replace("Summit Premiere","Summit Entertainment", inplace=True)
# office_revenue.replace(["Universal","Universal Pictures","Universal Pictures Distributio","Universal Pictures International"],"Universal Studios", inplace=True)
# office_revenue.replace(["WARNER BROTHERS PICTURES","WB","Warner Bros. Pictures"],"Warner Bros.", inplace=True)
# office_revenue.replace(["The Weinstein Co.","The Weinstein Company","Weinstein Co."],"Weinstein Company", inplace=True)
# office_revenue.replace("Newmarket Film Group","Newmarket Films", inplace=True)
# office_revenue.replace("FilmDistrict","Film District", inplace=True)
# office_revenue.replace("IFC First Take","IFC Films", inplace=True)

In [16]:
office_revenue

,director,writer,currency,box_office,studio
1,David Cronenberg,David Cronenberg|Don DeLillo,$,600000,Entertainment One
6,Jake Kasdan,Mike White,$,41032915,Paramount Pictures
7,Ray Lawrence,Raymond Carver|Beatrix Christian,$,224114,Sony Pictures
8,Taylor Hackford,Mark Jacobson,$,134904,Unknown
15,George Hickenlooper,Norman Snider,$,1039869,ATO Pictures
...,...,...,...,...,...
1541,Joss Whedon,Joss Whedon,$,25335935,Universal Studios
1542,Gauri Shinde,Gauri Shinde,$,1416189,Eros Entertainment
1545,Sebastian Gutierrez,Sebastian Gutierrez,$,59371,IDP Distribution
1546,<NA>,<NA>,$,794306,Unknown
1555,<NA>,<NA>,$,33886034,New Line Cinema

In [12]:
# studios_cleaned = office_revenue['studio']

In [17]:
office_revenue.studio.value_counts().head(50)

Unknown                                    35
Sony Pictures                              34
Universal Studios                          31
Paramount Pictures                         27
Warner Bros.                               23
20th Century Fox                           19
LionsGate                                  13
Fox Searchlight Pictures                   10
Weinstein Company                           7
Columbia Pictures                           7
IFC Films                                   7
New Line Cinema                             7
Roadside Attractions                        6
Buena Vista                                 6
Magnolia Pictures                           6
Summit Entertainment                        6
MGM                                         5
Walt Disney Pictures                        5
Focus Features                              5
A24 Films                                   4
Newmarket Films                             3
Open Road Films                             3
Miramax Films                               2
Eros Entertainment                          2
Film District                               2
Samuel Goldwyn Films                        2
Destination Films                           2
DreamWorks                                  2
CBS Films                                   2
Touchstone Pictures                         2
Fine Line Features                          2
Lionsgate/Roadside Attractions              2
Sony Pictures/Columbia Pictures             2
Reliance Entertainment                      2
Screen Gems                                 1
Dimension Films                             1
IMAX                                        1
Entertainment One                           1
Sony Pictures/TriStar Pictures              1
Truly Indie                                 1
Apparition Films                            1
USA Films                                   1
Monterey Media                              1
Dreamworks/Paramount                        1
Screen Gems/SONY PICTURES                   1
Echolight Studios                           1
IDP Distribution                            1
Relativity Media                            1
Fingerprint Releasing / Bleecker Street     1
First Run Features                          1
Name: studio, dtype: Int64

In [9]:
# Grouping by studio and summing box office totals per studio.
box_office_total = (office_revenue.groupby('studio')).sum()
box_office_total.head(50)

                                         box_office
studio
20th Century Fox                         1094656144
20th Century Fox Distribution              15176515
A24                                        13985117
A24 Films                                  16297753
ATO Pictures                                1039869
Apparition Films                            4341275
Aspiration Media                             347321
Broad Green Pictures                       15425870
Buena Vista                                18013938
Buena Vista Distribution                   16302332
Buena Vista Distribution Compa            162161100
Buena Vista Pictures                       54983983
Buffalo Films                               1320005
CBS Films                                   4700000
Cohen Media Group                            175088
Columbia Pictures                         534351307
Columbia Tristar Pictures                  39532308
Crane Movie Company                          549351
Destination Film                           10127352
Destination Films                           2027042
Dimension Films                            29885424
Disneynature                               19000000
DreamWorks SKG                            128579698
Dreamworks Pictures                        73023275
Dreamworks/Paramount                       31670931
Echolight Studios                           2209479
Entertainment One                            600000
Eros Entertainment                          2647739
Film 44                                    26973524
Film District                               4007792
Film Foundry Releasing                      2536460
FilmDistrict                               10880926
Fine Line Features                          5813564
Fingerprint Releasing / Bleecker Street    27696504
First Independent Pictures                    39712
First Look Pictures                         1616556
First Run Features                             8856
Focus Features                            111096018
Fox Searchlight                            17905893
Fox Searchlight Pictures                  143762852
IDP Distribution                              59371
IFC Films                                 244947188
IFC First Take                               241672
IMAX                                      257704099
Independent Pictures                        1800000
Indican Pictures                              25658
Lakeshore Entertainment                      541457
Lions Gate                                  1634064
Lions Gate Films                           16108693
Lions Gate Films Inc.                      12583510